html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
    background: #ccc;
}

.header {
    background: #555;
}

.content {

}

/* Pushed down footer*/
.non-footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;

  margin: 0 auto -100px;
  padding: 0 0 100px;
}

.footer {
    background: #555;
    height: 100px;
}

.footer .container {
    padding-top: 12px;
    padding-bottom: 12px;
}

