html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

.header {
    background: #212121 url(/img/blurred-python.png) no-repeat center center;
    color: #DFDFDF;
    min-height: 240px;
    text-align: center;
}

.header h1 {
    margin: 32px auto 24px auto;
    font-size: 180%;
    font-variant: small-caps;
}

.header h2 {
    margin: 24px auto 32px auto;
    font-size: 220%;
    font-variant: small-caps;
}

.header a {
    color: #6F0909;
}

.header .nav {
    margin: 16px auto;
}

.nav-pills>li>a {
    color: #ddd;
    background-color: #3B1919;
    background-color: rgba(100, 17, 17, 0.3);
    /* @todo >> This will probs need fixing for col-xs*/
    margin-left:7.5%;
    margin-right:7.5%;
}

.nav-pills>li>a:hover, 
.nav-pills>li>a:focus {
    color: #eee;
    background-color: #421818;
    background-color: rgba(100, 17, 17, 0.6);
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #6F0909;
    background-color: rgba(100, 17, 17, 0.8);
}

.content {
    padding: 12px 0;
}

/* Pushed down footer*/
.non-footer {
    min-height: 100%;
    height: auto !important;
    height: 100%;

    margin: 0 auto -160px;
    padding: 0 0 160px;
}

.footer {
    background: #212121;
    color: #DFDFDF;
    min-height: 160px;
}

.footer a.btn {
    color: #ddd;
    background-color: #3B1919;
    background-color: rgba(100, 17, 17, 0.3);
    border-color: #200606;
}
.footer a.btn:hover,
.footer a.btn:active {
    color: #eee;
    background-color: #421818;
    background-color: rgba(100, 17, 17, 0.6);
    border-color: #200606;
}

.footer .container {
    padding-top: 12px;
    padding-bottom: 12px;
}

.footer .footer-list li {
    margin: 8px 0;
}

.copyright {
    color: #494444;
}

a span.black {
    color: #333;
}
.img-responsive-center {
    margin: 0 auto;
}




/* portfolio */
.portfolio-grid {

}
.portfolio-grid .row {
    margin-top: 16px;
}
.portfolio-grid a {
    display: block;
    margin: 5% auto;
}
.portfolio-grid a h3 {
    font-size: 180%;
}

/* /portfolio */

/* Notes List */

ul.notes-list {

}

ul.notes-list li {
    padding: 8px 16px;
    margin: 0 0 16px 0;
    border-left: 5px solid #999999;
}

ul.notes-list li.bdr-light {
    border-color: #d0d0d0;
}
ul.notes-list li.bdr-dark {
    border-color: #212121;
}
ul.notes-list li.bdr-red {
    border-color: #6F0909;
}
ul.notes-list li.bdr-red-light {
    border-color: #D43F3A;
}
ul.notes-list li.bdr-red-dark {
    border-color: #3B1919;
}

ul.notes-list li.bdr-purple {
    border-color: #8B59AD;
}
ul.notes-list li.bdr-blue {
    border-color: #599FAD;
}
ul.notes-list li.bdr-green {
    border-color: #59AD63;
}
ul.notes-list li.bdr-yellow {
    border-color: #D9E928;
}
ul.notes-list li.bdr-orange {
    border-color: #D48B2C;
}


ul.notes-list li a ,
ul.notes-list li a:hover ,
ul.notes-list li a:active {
    display: block;
    color: inherit;
}


ul.notes-list li a h3 {
    margin-top: 12px;
    margin-bottom: 8px;
}


/* /Notes List */