body {
    padding-bottom: 100px;
    background: #ccc;
}

.header {
    background: #555;
}

.content {

}

.footer {
    background: #555;
    height: 90px;
}

.footer .container {
    padding-top: 12px;
    padding-bottom: 12px;
}
