/******************
 * Core Styling 
 *****************/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #222;
}

/* Pushed-down footer vie flexbox, the main element occupies any spare space vertically*/
.offcanvas-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

section {
  overflow: auto;
}

/* Page sizing */
body {
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Fonts*/
html, body,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
p, span, a {
  font-family: 'Ubuntu', sans-serif;
}
pre, code, 
pre code span,
.highlight {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #268bd2;
}

/* Padding / font styling for general elements*/
p, address {
  font-size: 1.3em;
  font-weight: 100;
  line-height: 140%;
  margin: 8px 0 12px 0;
}
article p  ,
article li {
  font-size: 1.2rem;
}
article pre ,
article code ,
article pre code span {
  font-size: 1.0rem;
}
address {
  font-style: italic;
}

/* hn stlying */
h1 {
  font-size: 3.4em;
  font-weight: 400;
}
h2 {
  font-size: 2.0em;
  font-weight: 400;
}
/* Horizontal line via http://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle */
.sub-header {
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.sub-header:before,
.sub-header:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.sub-header:before {
  right: 0.5em;
  margin-left: -50%;
}
.sub-header:after {
  left: 0.5em;
  margin-right: -50%;
}

h4.sub-header {
  font-size:1.2em;
  text-align: center;
  font-weight: bold;
}

blockquote {
  padding: 2px 16px;
  margin: 16px 0 16px 0;
  font-size: 1.3em;
  border-left: 4px solid #34A3F1;
}

/******************
 * Header
 *****************/
.header {
  color: #222;
  text-align: center;
}

#header h1 {
  margin: 8px auto 4px auto;
  font-variant: small-caps;
  color: #268bd2;
  text-align: center;
}

#header h2 {
  margin: 8px auto 8px auto;
  text-align: center;
  font-size: 1.6em;
}

#header a {
  color: #6F0909;
}
/******************
 * General Content
 *****************/
main {

}

main h2 {
  font-size: 2.0em;
  margin: 8px auto 16px auto;
}

main img {
  display: block;
  margin: auto;
}

main p {
  text-align: center;
}
/******************
 * Footer
 *****************/
footer {
  color: #DFDFDF;
  padding: 16px 16px 20px 8px;
}
footer .separator-top {
    padding: 48px 0 16px;
}
footer .copyright {
    color: #888;
}
#footer {
  border-top: 1px solid #D6D6D6;
  margin-top: 48px;
  text-align: center;
}

#footer ul {
  list-style: none;
  padding: 0;
}
#footer ul>li {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
}
#footer ul>li:first-child {
  padding-left: 0;
}
#footer ul>li:last-child {
  padding-right: 0;
}
#footer ul>li>a {
  display: block;
  margin: 0;
  padding: 0;
}

/******************
 * Page Specifics
 *****************/


/******************
 * Error Page
 *****************/
.error-page h2 {
  font-size: 140%;
  font-weight: bold;
  padding: 12px 0 8px 24px;
  border-left: 5px solid #6F0909;
  color: #88312E;
  margin-bottom: 16px;
}
.error-page p {
  font-size: 124%;
}
.error-page p.ascii {
  color: #6F0909;
  font-size: 600%;
  padding: 24px;
  text-align: center;
}


/******************
 * Contact Page
 *****************/
#contact address {
  text-align: center;
  margin-bottom: 24px;
}

.vertical-contact-list {
  list-style: none;
  font-size: 1.3em;
  font-weight: 140;
  line-height: 140%;
  margin: 8px 0 24px 0;
  padding: 0;
  text-align: center;
}
.vertical-contact-list li {
  margin-bottom: 8px;
}
.vertical-contact-list li a img {
  display: inline;
  vertical-align: middle;
  width: 24px;
  margin: 0px 8px 0px 0px;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.iframe-container iframe, 
.iframe-container object, 
.iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#contact .iframe-container {
  clear: both;
}

/******************
 * Demonstrating Page
 *****************/
.demonstrating-list {
  list-style: none;
}

.demonstrating-list ul li {
  font-size: 1.2em;
}

/******************
 * Posts Page
 *****************/
.post-nav a.heading {
  display: block;
  padding: 8px 16px;
  color: #444;
  /*border-bottom: 1px solid #777;*/
  font-weight: bold;
}
.post-nav a.heading:focus ,
.post-nav a.heading:hover {
  background: #f5f5f5;
}

.post-nav ul {
  list-style: none;
  padding: 0;
  margin: 4px auto 4px auto;
  width: 100%;
}
.post-nav ul > li {
  position: relative;
  display: block;
}
.post-nav ul > li > a {
  display: block;
  padding: 8px 16px;
  background: #eee;
  border: 1px solid #ddd;
  border-top: 0px;
  color: #333;
  text-align: left;
}
.post-nav ul > li:first-child > a {
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #ddd;
}
.post-nav ul > li:last-child > a {
  border-radius: 0 0 4px 4px;
}
.post-nav ul > li > a:focus ,
.post-nav ul > li > a:hover {
  background-color: #ddd;
}
.post-nav ul > li.active > a ,
.post-nav ul > li.active > a:focus ,
.post-nav ul > li.active > a:hover {
  background-color: #2B6994;
  color: #eee;
}

/******************
 * Post Page
 *****************/

article {
  display:flex;
  flex-direction: column;
  flex: 1;
}
article .content-wrapper {
  flex: 1;
}
/*article > div {
  display: flex;
  flex-direction: column;
  min-height: 100%;

}

article > div .content-wrapper {
  flex: 1;
}*/

.prev-next {
  margin-top: 32px;
  font-size: 0.9em;
}
.prev-next > a {
  display: inline-block;
  padding: 4px 8px;
  background: #34A3F1;
  color: #eee;
  border: 1px solid #1E7DBF;
  margin-left: -4px;
}
.prev-next > a:focus ,
.prev-next > a:hover {
  background: #2D8CCE;
  color: #f5f5f5;
}
.prev-next > a:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 0;
}
.prev-next > a:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;}
/******************
 * Publications Page
 *****************/
ul.pt-list {
  list-style: none;
  padding-left: 0px;
  margin: 0 auto;
}
ul.pt-list > li {
  list-style: none;
  padding: 8px 0px;
  margin: 16px auto;
}
ul.pt-list > li h3 {
  font-size: 20px;
  margin: 4px 0;
  color: #303030;
}
ul.pt-list > li > ul {
  list-style: none;
  padding: 0 0 0 40px;
}
ul.pt-list > li > ul > li {
  border-top: 1px solid #bbb;
  margin-bottom: 24px;
  padding-top: 12px;
}
ul.pt-list > li > ul > li:first-child{
  border-top: 0;
}
ul.pt-list > li > ul > li h4 {
  font-size: 20px;
  margin: 4px 0;
}
ul.pt-list > li > ul > li h5 {
  font-size: 16px;
  font-style: italic;
  margin: 4px 0 ;
}
ul.pt-list > li > ul > li p {
  font-size: 16px;
  text-align: left;
  margin-bottom: 8px;
}
ul.pt-list li .button {
  color: #586e75;
  display: inline-block;
  background: #eee8d5;
  border-radius: 3px;
  border: 1px solid #586e75;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 14px;
  text-shadow:none;
}
ul.pt-list li .button:hover {
  color: #eee8d5;
  border-color: #002b36;
  background: #268bd2;
}

ul.talk-list > li > ul > li {
  margin-bottom: 16px;
}

/******************
 * Utility classes
 *****************/


/******************
 * New nav based on  http://codepen.io/rbardtke/pen/nfkdb/?editors=110
 *****************/

.offcanvas-wrapper {
  display: flex;
  min-height: 100%;
}

input[data-function*='swipe'] {
  position: absolute;
  opacity: 0;
}

label[data-function*='swipe'] {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 1;
  display: block;
  width: 24px;
  height: 24px;
  font: 24px/24px fontawesome;
  text-align: center;
  color: #002b36;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
}

input[data-function*='swipe']:checked ~ label[data-function*='swipe'] {
  transform: translate3d(260px, 0, 0);
}

.offcanvas-content {
  flex: 1;
  padding: 0px 24px;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
}

input[data-function*='swipe']:checked ~ .offcanvas-content {
  transform: translate3d(260px, 0px, 0px);
}
input[data-function*='swipe']:checked ~ .offcanvas-sidebar {
  transform: translate3d(0px, 0px, 0px);
}
input[data-function*='swipe']:checked ~ .offcanvas-sidebar .menu li {
  width: 100%;
}

.offcanvas-sidebar {
  transform: translate3d(-260px, 0px, 0px);
  position: fixed;
  width: 260px;
  background: #002b36;
  color: #f5f5f5;
  left: 0;
  height: 100%;
  transition: all .3s;
  padding: 0;
}

.menu ul {
  padding: 0;
  margin: 0;
}
.menu ul li {
  list-style: none;
  border-bottom: 1px solid #777;
}
.menu ul li.active {
  background: #268bd2;
}

.menu ul li a {
  color: #fdf6e3;
  display: block;
  text-decoration: none;
  padding: 16px;
  margin: 0;
  text-align: right;
}
.menu ul li a:hover {
  color: #eee8d5;
  background: #073642;
}
.menu ul li.active a:hover {
  background: #267BD2;
}

/******************
 * Responsive styling
 *****************/
 
@media (max-width: 767px) {
  .sub-header:before, .sub-header:after {
    /*Disable horizontal line for post titless on small layout*/
    content: none;
  }
  .hidden-phone {
    display: none;
  }
  .show-phone {
    display: block;  
  }
  .show-phone-inline {
    display: inline;  
  }
  /*Display 'show menu' link*/
  #navigation .show-menu {
    display: inline-block;
  }
  /*Adjust nav on phone */
  #navigation ul {
    margin: 0;
  }
  #navigation ul > li > a {
    margin-bottom: 0;
    border-radius: 0;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 3.1em;
  }
  main article p {
    text-align: left;
  }

  #navigation ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  #navigation ul > li {
    display: flex;
    width: 100%;
    flex: 1;
  }
  #navigation ul > li > a {
    border-radius: 0;
    width: 100%;
  }
  #navigation ul > li:first-child > a {
    border-radius: 4px 0 0 4px;
  }
  #navigation ul > li:last-child > a {
    border-radius: 0 4px 4px 0;
  }

  #contact address {
    width: 50%;
    float: left;
    padding-left: 8px;
    padding-right: 0;
    text-align: left;
  }
  .vertical-contact-list {
    width: 50%;
    float: left;
    padding-left: 0;
    padding-right: 8px;
    text-align: right;
  }
  .vertical-contact-list li {
    margin-bottom: 0px;
  }
  .vertical-contact-list li a {
    overflow: auto;
  }
  .vertical-contact-list li a img {
    display: inline-block;
    width: 22px;
    margin: 0px 0px 0px 4px;
    /*float: right;*/
  }
  .flex-inner {
    flex-wrap: nowrap;
  }
  .flex-inner > nav {
    width: 25%;
    margin-left: 24px;
    order: 1;
  }
  .flex-inner > article {
    order: 0;
    flex: 1 0 0;
  }

  .show-phone {
    display: none;
  }
  .show-phone-inline {
    display: none;
  }
}
/* Switch content transform on really big screens */
@media (min-width: 900px) {
  .offcanvas-content {
    max-width: 1140px;
    padding: 0px 1%;
    margin: 0 auto;
    order: 2;
  }
  .offcanvas-sidebar {
    order: 1;
    transform: none;
    position: relative;
    left: auto;
    height: auto;
  }
  label[data-function*='swipe'] {
    overflow: hidden;
    height: 0;
  }
  input[data-function*='swipe']:checked ~ .offcanvas-content {
    transform: none;
    transition: all .3s;
    padding-left: 260px;
  }
}
