---
layout: default
title: Demonstrating | ptheywood.uk
---
<section>
    <h2 class="sub-header">Demonstrating</h2>
    <p>
        As a PhD student I have the opportunity to demonstrate lab sessions for taught students and outreach events.
    </p>
    <ul class="demonstrating-list">
    {% for year in site.data.demonstrating %}
        <li>
            <h3>{{ year.year }}</h3>
            <ul>
                {% for event in year.events %}
                <li>
                    {{ event }}
                </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</section>
