    <footer id="footer" class="text-center">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="social-media list-inline separator-top">
                            <li>
                                <a href="mailto:ptheywood1@sheffield.ac.uk">
                                    <img src="{{ site.baseurl }}/img/font-awesome/envelope_5ea9dd_64.png" alt="Email" />
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/peethwd">
                                    <img src="{{ site.baseurl }}/img/github/GitHub-Mark-64px.png" alt="Github" />
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/peethwd">
                                    <img src="{{ site.baseurl }}/img/twitter/Twitter_logo_blue.png" alt="Twitter" />
                                </a>
                            </li>
                        </ul>

                        <p class="text-center copyright">
                            &copy; Peter Heywood 2015
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/scripts/common.js"></script>
</body>
