    <footer id="footer" class="text-center">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="social-media list-inline separator-top">
                            {% for contact in site.data.contact %}
                                <li>
                                    <a href="{{ contact.url }}">
                                        <img src="{{ site.baseurl }}{{ contact.icon }}" alt="{{ contact.text }}" />
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                        <p class="text-center copyright">
                            &copy; Peter Heywood 2015
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/scripts/common.js"></script>
</body>
