    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <link rel="stylesheet" href="{{ site.baseurl }}/vendor/normalize.css/normalize.min.css">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,400italic,700|Source+Code+Pro:400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/v2.css">

        {% if site.ga_enabled %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-22933824-1', 'peethwd.net');
            ga('send', 'pageview');
        </script>
        {% endif %}
    </head>
