<body>
    <div class="container">
        <div class="row">
            <div class="heading">
                <h1>peethwd.net</h1>
            </div>
            <nav class="navbar navbar-inverse" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/portfolio/">Portfolio</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://twitter.com/peethwd">@peethwd</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
