<body>
    <div class="non-footer">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="heading">
                            <h1>peethwd.net</h1>
                        </div>
                        {% include navigation.html %}
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
