<body>
    <div class="non-footer">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="heading">
                            <h1>Peter Heywood</h1>
                            <h2>Computer Science PhD Candidate</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        {% include navigation.html %}
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
