{% assign url = page.url|remove:'index.html' %}
<nav id="navigation">
    <input type="checkbox" id="show-menu" name="show-menu" role="button">
    <label for="show-menu" class="show-menu">
        <i class="fa fa-bars icon-open"></i>
        <i class="fa fa-times icon-close"></i>
    </label>
    <ul>
        {% for link in site.data.navigation %}
            <li {% if url == link.url %}class="active"{% endif %}>
                <a href="{{site.baseurl}}{{link.url}}" title="{{link.title}}">{{link.text}}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
