{% assign url = page.url|remove:'index.html' %}
<nav class="post-nav">
        <a class="heading" href="{{site.baseurl}}/posts/">Posts</a>
    <ul>
    {% for post in site.posts %}
        <li>
            <a class="{% if url == post.url %}active{% endif %}" href="{{post.url}}" title="{{post.title}}">
                <span class="show-phone-inline">
                    <em>{{post.date | date: '%d %B %Y'}}</em>
                    -
                </span>
                {{post.title}}
            </a>
        </li>
    {% endfor %}
    </ul>
</nav>
