---
layout: default
title: Portfolio
---

<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2 class="text-center">Portfolio</h2>

    </div>
</div>
<div class="portfolio-grid text-center">
    {% assign columnCount = 0 %}
    {% assign columnsAfter = 0 %}
    {% for item in site.data.portfolio %}
        {% assign offset = '' %}
        {% assign indexMod = forloop.index| modulo: 3 %}
        {% assign fullRowsLeft = forloop.rindex | divided_by: 3 %}

        {% if indexMod == 1 %}
            <!-- New Row -->
            <div class="row">
            {% if fullRowsLeft != 0 %}
                {% assign columnCount = 3 %}
            {% else %}

                {% assign columnCount = forloop.rindex %}
                {% if columnCount == 2 %}
                    {% assign offset = 'col-sm-offset-2' %}
                {% else %}
                    {% assign offset = 'col-sm-offset-4' %}
                {% endif %}

            {% endif %}
            {% assign columnsAfter = columnCount | minus: 1 %}
        {% endif %}

                <div class="col-xs-12 col-sm-4 {{offset}}">
                    <a href="{{ site.url }}{{item.path}}" class="portfolio-grid-link">
                       <img src="{{ item.imgsrc }}" class="img-responsive img-responsive-center" />
                       <h3>{{ item.title }}</h3>
                       <p>
                           {{ item.description }}
                       </p>
                   </a>
                </div>
        {% if columnsAfter == 0 %}
            <!-- End row -->
            </div>
        {% endif %}
        {% assign columnsAfter = columnsAfter | minus: 1 %}
    {% endfor %}
</div>