---
layout: default
title: Portfolio
---

<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2 class="text-center">Portfolio</h2>

    </div>
</div>
<div class="portfolio-grid text-center">
    {% for item in site.data.portfolio %}
        {% assign col = forloop.index | modulo: 3 %}

        {% if col == 1 %}
            <div class="row">
        {% endif %}
                <div class="col-xs-12 col-sm-4">
                    <a href="#" class="portfolio-grid-link">
                        <img src="{{ item.imgsrc }}" class="img-responsive img-responsive-center" />
                        <h3>{{ item.title }}</h3>
                        <p>
                            {{ item.description }}
                        </p>
                    </a>
                </div>
        {% if col == 0 %}
            </div>
        {% endif %}
        
    {% endfor %}
</div>