---
layout: default
title: Notes

iter:
- "i"
- "i"
- "i"
- "i"
- "i"
- "i"
- "i"
- "i"
- "i"
---
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2 class="text-center">Notes</h2>
        <p>
            From time to time I write myself notes that sometimes other people might find useful, be it some php code, a shell script or anything else.
        </p>
        <p>
            This is where you can find those notes, though they may not be very frequent
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <ul class="notes-list list-unstyled">
        {% for i in page.iter %}
            {% for post in site.posts %}
            <li class="{% cycle 'bdr-color': 'bdr-red', 'bdr-red-dark', 'bdr-red-light', 'bdr-dark', 'bdr-purple', 'bdr-blue', 'bdr-green', 'bdr-yellow', 'bdr-orange' %}">
                <a href="{{ post.url }}" >
                    <h3>{{ post.title }}</h3>
                    <p>
                        Post Short description
                    <p>
                </a>
            </li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
</div>
            
