---
layout: skeleton
---
<main class="post">
    <h2 class="sub-header">{{page.title}}</h2>
    {% include post-nav.html %}
    <aside>
        <em>{{page.date | date: '%d %B %Y'}}</em>
    </aside>
    <section>
        {{ content }}
    </section>
    <nav class="prev-next">
        {% if page.previous %}
            <a href="{{site.baseurl}}{{page.previous.url}}">
                Previous
            </a>
        {% endif %}
        {% if page.next %}
            <a href="{{site.baseurl}}{{page.next.url}}">
                Next
            </a>
        {% endif %}
    </nav>
</main>
