---
layout: default
title: Posters | ptheywood.uk
---
<section id="posters">
    <h2 class="sub-header">Posters</h2>
    <ul class="pt-list poster-list">
    {% assign sorted_poster_years = site.data.posters | sort: 'year' %}
    {% for year in sorted_poster_years reversed %}
        <li>
            <h3>{{ year.year }}</h3>
            <ul>
                {% assign sorted_posters = year.posters | sort: 'date' %}
                {% for poster in sorted_posters reversed %}
                <li>
                    <h4>
                        "{{ poster.title }}"
                    </h4>
                    <h5>
                        {% if poster.authors %}
                            {{ poster.authors }}
                        <br />
                        {% endif %}
                        <time>{{ poster.date }}</time>
                        -
                        <a href="{{ poster.event_url}}" >{{ poster.event }}</a>
                    </h5>
                    <p>{{ poster.note }}</p>
                    {% if poster.pdf %}
                        <a class="button" href="{{ poster.pdf }}" target="_blank">PDF</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</section>
