---
layout: default
title: Publications &amp; Talks | ptheywood.uk
---

<section id="publications">
    <h2 class="sub-header">Publications</h2>
    <ul>
    {% for year in site.data.publications %}
        <li>
            <h3>{{ year.year }}</h3>
            <ul>
            {% for publication in year.publications %}
                <li>
                    {% if publication.authors %}
                        {{ publication.authors }}
                    {% endif %}
                    {% if publication.title %}
                        "{{ publication.title }}"
                    {% endif %}
                    {% if publication.journal %}
                        {{ publication.journal }}
                    {% endif %}
                    {% if publication.href %}
                        (<a href="{{ publication.link }}" target="_blank">View</a>)
                    {% endif %}
                    {% if publication.pdf %}
                        [<a href="{{ publication.pdf }}" target="_blank">PDF</a>]
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</section>

<section id="talks">
    <h2 class="sub-header">Talks</h2>
    <ul>
        {% for talk in site.data.talks %}
        <li>
            {{ talk.date }}:
            <a href="{{ talk.event_url }}">
            {{ talk.event }}
            </a>
            <strong>{{ talk.title }}</strong>
            {{ talk.note }}
            {% if talk.pdf %}
                [<a href="{{ talk.pdf }}" target="_blank">PDF</a>]
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</section>
