---
layout: default
title: Publications &amp; Talks | ptheywood.uk
---

<section id="publications">
    <h2 class="sub-header">Publications</h2>
    <ul class="pt-list publication-list">
    {% assign sorted_publication_years = (site.data.publications | sort: 'year') %}
    {% for year in sorted_publication_years reversed %}
        <li>
            <h3>{{ year.year }}</h3>
            <ul>
            {% for publication in year.publications %}
                <li>
                    <h4>
                        {% if publication.title %}
                            "{{ publication.title }}"
                        {% endif %}
                    </h4>
                    <h5>
                        {% if publication.authors %}
                            {{ publication.authors }}
                        {% endif %}
                    </h5>
                    <p class="publication">
                        {% if publication.journal %}
                            {{ publication.journal }}
                        {% endif %}
                    </p>
                    <p class="publication">
                        {% if publication.note %}
                            {{ publication.note }}
                        {% endif %}
                    </p>
                    {% if publication.href %}
                        <a class="button" href="{{ publication.href }}" target="_blank">View</a>
                    {% endif %}
                    {% if publication.pdf %}
                        <a class="button" href="{{ publication.pdf }}" target="_blank">PDF</a>
                    {% endif %}
                    {% if publication.bib %}
                        <a class="button" href="{{ publication.bib }}" target="_blank">bib</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</section>

<section id="talks">
    <h2 class="sub-header">Talks</h2>
    <ul class="pt-list talk-list">
    {% assign sorted_talk_years = (site.data.talks | sort: 'year') %}
    {% for year in sorted_talk_years %}
        <li>
            <h3>{{ year.year }}</h3>
            <ul>
                {% assign sorted_talks = (year.talks | sort: 'date') %}
                {% for talk in sorted_talks reversed %}
                <li>
                    <h4>
                        "{{ talk.title }}"
                    </h4>
                    <h5>
                        {% if talk.authors %}
                            {{ talk.authors }}
                        <br />
                        {% endif %}
                        <time>{{ talk.date }}</time>
                        -
                        <a href="{{ talk.event_url}}" >{{ talk.event }}</a>
                    </h5>
                    <p>{{ talk.note }}</p>
                    {% if talk.pdf %}
                        <a class="button" href="{{ talk.pdf }}" target="_blank">PDF</a>
                    {% endif %}
                    {% if talk.recording %}
                        <a class="button" href="{{ talk.recording }}" target="_blank">Watch Recording</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</section>

<section id="posters">
    <h2 class="sub-header">Posters</h2>
    <ul class="pt-list poster-list">
    {% for year in site.data.posters %}
        <li>
            <h3>{{ year.year }}</h3>
            <ul>
                {% assign sorted_posters = (year.posters | sort: 'date') %}
                {% for poster in sorted_posters reversed %}
                <li>
                    <h4>
                        "{{ poster.title }}"
                    </h4>
                    <h5>
                        {% if poster.authors %}
                            {{ poster.authors }}
                        <br />
                        {% endif %}
                        <time>{{ poster.date }}</time>
                        -
                        <a href="{{ poster.event_url}}" >{{ poster.event }}</a>
                    </h5>
                    <p>{{ poster.note }}</p>
                    {% if poster.pdf %}
                        <a class="button" href="{{ poster.pdf }}" target="_blank">PDF</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</section>
